# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\esteb\OneDrive - Universite De Technologie De Belfort-Montbeliard\Cours\UTBM\TC02\IFB\Programmes\Projet_IFB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
